@charset "UTF-8";

body {
    margin: 0;
}

.header {
    text-align: center;
    background-color: #0095d9;
}

.header h1 {
    margin: 0;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.main {
    text-align: center;
}

.login,
.account_reg {
    margin: 3%;
}

.account_reg_caution,
.account_reg_str {
    text-align: left;
    margin: 3% 15% 3% 15%;
}

.thread_btn,
.new_thread_btn {
    background: #0095d9;
    margin: 3%;
    cursor: pointer;
}

.account_reg_btn,
.account_reg_cfm_btn,
.account_reg_cpl_btn {
    background: #0095d9;
    margin: 0% 3% 3% 3%;
    cursor: pointer;
}

.back_btn {
    margin: 3%;
}

#hazimete {
    margin: 3% 3% 0% 3%;
}